header{
    background-image: linear-gradient(90deg, #00d4ff 0%, #090979 35%, #020024 100%);
    margin-bottom: 0.5rem;
    text-align: center;
    }

    h1{
        color: white;
    }

    #citySearch {
        flex-direction: column;
    }
    
    .input-group-append {
        margin-left: 0;
    }

    #search-input {
        height: 3rem;
        border: 2px solid grey;
        border-radius: 0.3rem;
        padding-left: 10px;
    }

    .search-button {
        border-radius: 0.3rem !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }